{% extends "base.html" %}
{% block style %}
  <style>
    .content-head{
      width: 100%;
      overflow: hidden;
    }
    .content-body{
      margin-top: 20px;
      border-top: solid 2px black;
      width: 100%;
      overflow: auto;
    }
    .list-namespaces{
      float: left;
    }
    .keyword-search{
      float: left;
      margin-left: 10px;
    }
    .search-btn{
      float: left;
      margin-left: 20px;
    }
    .rollback-btn{
      float: left;
      margin-left: 100px;
    }
  </style>
{% end %}
{% block body %}
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://v3.bootcss.com/examples/dashboard/#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          {% include 'menu_list.html' %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block content %}
            <div class="content">
              <form id="rollback">
                <div class="content-head">
                  <div class="list-namespaces">
                    <select class="form-control" name="namespace" id="namespace">
                      {% for ns in namespace_list %}
                      <option value="{{ ns }}">{{ ns }}</option>
                      {% end %}
                    </select>
                  </div>
                  <div class="keyword-search">
                    <div class="form-group">
                      <input type="text" class="form-control" id="exampleInputName2" placeholder="关键字" name="keyword">
                    </div>
                  </div>
                  <div class="search-btn">
                    <input class="btn btn-default" type="button" id="btn-search" value="查找">
                  </div>
                  <div class="rollback-btn">
                    <input class="btn btn-default" type="button" id="btn-rollback" value="回滚">
                  </div>
                </div>
                <div class="content-body">
                  <table class="table table-bordered">
                        <thead>
                            <tr>
                              <th>deploy</th>
                              <th>image</th>
                              <th>replicas</th>
                              <th>available</th>
                              <th>version</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                  </table>
                </div>
              </form>
            </div>
                {% end %}
        </div>
      </div>
    </div>
  </body>
{% end %}
{% block script %}
<script src="/static/jquery-2.1.4.min.js"></script>
<!--<script src="{{static_url("jquery-2.1.4.min.js")}}"></script>-->
<script>
  $(function () {
    bindsarchevent();
    bindrollbackevent();
  });
  function bindsarchevent() {
      $('#btn-search').click(function () {
          $('tbody').children('tr').remove();
          var data=$('#rollback').serialize();
          // var namespace=$('#namespace').val();
          // var keyword=$('#exampleInputName2').val();
          // $('#rollback').addClass('form-control')
          console.log(data);
          $.ajax({
              url:'/listdeploy',
              method:'POST',
              data:data,
              dataType:'JSON',
              success:function (req) {
                  if (req.status) {
                      result = req.data;
                      for (var key in result){
                          var tr = document.createElement('tr');
                          var deploy = document.createElement('td');
                          deploy.innerHTML=result[key]['deploy'];
                          // console.log(key);
                          tr.append(deploy);
                          var image = document.createElement('td');
                          image.innerHTML=result[key]['image'];
                          // image.style.color='red';
                          tr.append(image);
                          var replicas = document.createElement('td');
                          replicas.innerHTML=result[key]['replicas'];
                          tr.append(replicas);
                          var available = document.createElement('td');
                          available.innerHTML=result[key]['available'];
                          tr.append(available);
                          // console.log(result[key]['image']);
                          var select = document.createElement('select');
                          select.classList.add("form-control");
                          select.setAttribute('name',result[key]['deploy']);
                          var option_null = document.createElement('option');
                          option_null.innerHTML = null;
                          var option_first = document.createElement('option');
                          option_first.innerHTML = '上一个版本';
                          select.append(option_null);
                          select.append(option_first);
                          for (var op in result[key]['version']){
                              var option = document.createElement('option');
                              option.innerHTML = result[key]['version'][op];
                              select.append(option)
                          }
                          var versions = document.createElement('td');
                          versions.append(select);
                          $('option').first().attr("selected",true);
                          tr.append(versions);
                          $('tbody').append(tr);
                      }
                  }
                  // console.log(req.data)
              }
          })
      })
  }

  function bindrollbackevent() {
      $('#btn-rollback').click(function () {
          var data = $('#rollback').serialize();
          console.log(data)
          $.ajax({
              url:'/rollback',
              data:data,
              method:'POST',
              dataType:'JSON',
              success:function (req) {
                  if (req.status) {
                      result = req.data;
                      $('tbody').children('tr').remove();
                      for (var key in result){
                          var tr = document.createElement('tr');
                          var deploy = document.createElement('td');
                          deploy.innerHTML=result[key]['deploy'];
                          // console.log(key);
                          tr.append(deploy);
                          var image = document.createElement('td');
                          image.innerHTML=result[key]['image'];
                          // image.style.color='red';
                          tr.append(image);
                          var replicas = document.createElement('td');
                          replicas.innerHTML=result[key]['replicas'];
                          tr.append(replicas);
                          var available = document.createElement('td');
                          available.innerHTML=result[key]['available'];
                          tr.append(available);
                          // console.log(result[key]['image']);
                          var select = document.createElement('select');
                          select.classList.add("form-control");
                          select.setAttribute('name',result[key]['deploy']);
                          var option_null = document.createElement('option');
                          option_null.innerHTML = null;
                          var option_first = document.createElement('option');
                          option_first.innerHTML = '上一个版本';
                          select.append(option_null);
                          select.append(option_first);
                          for (var op in result[key]['version']){
                              var option = document.createElement('option');
                              option.innerHTML = result[key]['version'][op];
                              select.append(option)
                          }
                          var versions = document.createElement('td');
                          versions.append(select);
                          $('option').first().attr("selected",true);
                          tr.append(versions);
                          $('tbody').append(tr);
                      }
                  }
              }
          });
      })
  }
</script>
{% end %}